{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="span4 offset4">
        <div class="well">
            <legend>Click me!</legend>
            <form method="POST" action="/form" accept-charset="UTF-8">
                {% if error %}
                    <div class="alert alert-error">
                        <a class="close" data-dismiss="alert" href="#">x</a>{{ error }}
                    </div>
                {% endif %}

                <div id="radios1" class="btn-group view-opt-btn-group" data-toggle="buttons-radio">
                    <button input type="submit" class="btn" name="choice1" value="Animator">Animator</button>
                    <button input type="submit" class="btn" name="choice1" value="TechArtist">Technical Artist</button>
                    <button input type="submit" class="btn" name="choice1" value="BusinessIT">Business IT</button>
                    <button input type="submit" class="btn" name="choice1" value="Production">Production</button>
                    <button input type="submit" class="btn" name="choice1" value="PostProduction">Post Production</button>
					<button input type="submit" class="btn" name="choice1" value="Sound">Sound</button>
                    <button input type="submit" class="btn" name="choice1" value="ComputationalFinance">Computational Finance</button>
                    <button input type="submit" class="btn" name="choice1" value="ComputerGameDev">Computer Game Dev</button>
                    <button input type="submit" class="btn" name="choice1" value="ComputerScience">Computer Science</button>
                    <button input type="submit" class="btn" name="choice1" value="ComputerSecurity">Computer Security</button>
                    <button input type="submit" class="btn" name="choice1" value="GovtRiskMgmtCompl">Govt. Risk Mgmt.</button>
                    <button input type="submit" class="btn" name="choice1" value="NetworkSecurity">Network Security</button>
                    <button input type="submit" class="btn" name="choice1" value="MediaArts">Media Arts</button>
                    <button input type="submit" class="btn" name="choice1" value="ECommerceTech">E-Commerce Tech</button>
                    <button input type="submit" class="btn" name="choice1" value="HumanComputerInteraction">Human Computer Interaction</button>
                    <button input type="submit" class="btn" name="choice1" value="BusinessAnalysisSystemsAnalysis">Business Analysis Systems Analysis</button>
                    <button input type="submit" class="btn" name="choice1" value="BusinessIntelligence">Business Intelligence</button>
                    <button input type="submit" class="btn" name="choice1" value="DatabaseAdministration">Database Administration</button>
                    <button input type="submit" class="btn" name="choice1" value="ItEnterpriseManagement">IT Enterprise Management</button>
                    <button input type="submit" class="btn" name="choice1" value="IsStandard">IS Standard</button>
                    <button input type="submit" class="btn" name="choice1" value="ItProjectManagement">IT Project Management</button>
                    <button input type="submit" class="btn" name="choice1" value="PredictiveAnalyticsHospitality">Predictive Analytics Hospitality</button>
                    <!-- <button input type="submit" class="btn" name="choice1" value="SoftwareArchitecture">Software Architecture</button>
					<button input type="submit" class="btn" name="choice1" value="SoftwareDevelopmen">Software Developmen</button> -->
                    
                </div>

                <!-- try to iterate over list -->
                {% if tree %}
                    <ul>
                    {% for branch in tree %}
                    
                        <li>{{ branch }}</li>
                    
                    {% endfor %}
                    </ul>
                {% endif %}



                <script type="text/jscript">
                    $("body").find("#radios1").children().each(function () {
                        $(this).bind('click', function () {
                            $("input[name=choice1]").val(this.value);
                            });
                    });
                </script>

            </form>
        </div>
    </div>
</div>
{% endblock %}