{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="span4 offset4">
        <div class="well">
            <legend>Click me!</legend>
            <form method="POST" action="/form" accept-charset="UTF-8">
                {% if error %}
                    <div class="alert alert-error">
                        <a class="close" data-dismiss="alert" href="#">x</a>{{ error }}
                    </div>
                {% endif %}

                <div id="radios1" class="btn-group view-opt-btn-group" data-toggle="buttons-radio">
                    <button input type="submit" class="btn" name="choice1" value="Animator">Animator</button>
                    <button input type="submit" class="btn" name="choice1" value="TechArtist">Technical Artist</button>
                    <button input type="submit" class="btn" name="choice1" value="BusinessIT">Business IT</button>
                    <button input type="submit" class="btn" name="choice1" value="Production">Production</button>
                    <button input type="submit" class="btn" name="choice1" value="PostProduction">Post Production</button>
					<button input type="submit" class="btn" name="choice1" value="Sound">Sound</button>
					
                    
                </div>

                <!---Render stuff here-->
                {% if tree %}
                <table>
                        
                    <tr>
                        <td>{{ tree }}</td>
                    </tr>

                </table>   
                {% endif %}

                <script type="text/jscript">
                    $("body").find("#radios1").children().each(function () {
                        $(this).bind('click', function () {
                            $("input[name=choice1]").val(this.value);
                            });
                    });
                </script>

            </form>
        </div>
    </div>
</div>
{% endblock %}